body{
	width: 1200px;
	background-color: greenyellow;
	  margin: auto;
            text-align: center;
            border: 1px solid black;
          
            


}

table {
        
        border-spacing: 90px; /* Espacio entre celdas */
      }

     

.sub3 {

            margin: auto;
            
            border: 1px solid white;
            background-color:#FFB154;
            color:green;
}
