body{
	background-image: url(imagenEM7.jpg);
}


.todo{	width: 1200px;
	 background-color:#50ABDC;
	  margin: auto;
            text-align: center;
            border: 1px solid black;
	}


	table {
        
        border-spacing: 90px; /* Espacio entre celdas */
      }

     

.sub3 {

            margin: auto;
            
            border: 1px solid white;
            background-color:#FFB154;
            color:green;
